<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline';
        style-src 'self' 'unsafe-inline'; media-src * blob:;
        connect-src 'self' localhost:* http://raspyhome.ddnsking.com:* https://content.dropboxapi.com/2/files/upload https://content.dropboxapi.com/2/files/download">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link href="ratchet/css/ratchet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Poc</title>
</head>
<body id="body">
<script id="homeTemplate" type="text/template">
    <div id="welcome">
        <h1>{{title}}</h1>
        <a class="startButton" href="#login">Start</a>
    </div>
</script>
<script id="loginTemplate" type="text/template">
    <div>
        <form class="loginForm" name="loginForm" action="javascript:login()">
            <label for="User">User:</label><input type="text" class="userInput" name="User"><br>
            <input type="submit" class="loginButton" value="Login"/>
        </form>
    </div>
</script>
<script id="cameraTemplate" type="text/template">
    <div id="overlay" hidden>
        <div id="myProgress" hidden>
            <div id="myBar">
                <div id="label">10%</div>
            </div>
        </div>
    </div>
    <div class="cameraView">
        <ul class="table-view">
            <li class="table-view-cell media">
                <img class="userImage" src="img/user.png">
            </li>
        </ul>
        <div class="buttons-bar">
            <button class="setPicButton">Set Picture</button>
            <button id="savePicButton" class="savePicButton" disabled>Save Picture</button>
            <button id="storePicButton" class="storePicButton" disabled>Store Picture</button>
        </div>
    </div>
</script>
<script src="cordova.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/router.js"></script>
<script src="lib/handlebars.js"></script>
<script src="lib/fastclick.js"></script>
<script type="text/javascript" src="js/HomeView.js"></script>
<script type="text/javascript" src="js/LoginView.js"></script>
<script type="text/javascript" src="js/CameraView.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
