.userImage {
    max-height: 60vh;
    max-width: 90vw;
    margin: auto;
    display: block;
}

.static {
    position: static;
}

#body, .userInput {
    background-color: #e6f2ff;
}

.table-view {
    background-color: inherit;
    border-bottom: none;
}

.buttons-bar {
    text-align: center;
}

button[disabled] {
  color: graytext;
  background-color: lightgrey;
  border-color: gray;

}

button, .loginButton {
    background-color: #3399ff;
    color: white;
    text-shadow: 1px 1px 0 #444;
    border-radius: 10vh;
    border-color: #0066ff;
    padding-left: 1vw;
    padding-right: 1vw;
    border: none;
}
#myProgress {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 10vh;
    background-color: grey;
}

#myBar {
    background-color: #0066cc;
}

#label {
    text-align: center;
    line-height: 10vh;
    color: white;
}

#overlay {
   z-index: 3000;
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(200,200,200,0.5);
}

.loginForm {
    width: 60vw;
    margin: auto;
    padding-top: 20vh;
}

label {
    text-shadow: 1px 1px 0 #777;
    font-size: large;
    font-weight: bold;
}

.table-view-cell {
    margin: auto;
    display: table;
    border-bottom: none;
}

#welcome {
    padding-top: 20vh;
    text-align: center;
}